<div class="Page-Heading">
  <h3>Your Books</h3>
</div>

<div class="swipe-container">
  <!-- <div *ngFor="let book of books; let i = index" #card class="swipe-card">
    <h4>{{ book.title }}</h4>
  </div> -->
  <div *ngFor="let book of books; let i = index" #card class="swipe-card">
    
      <h2>{{ book.name }}</h2>
      
  </div>
</div>

<div class="floating-compose-button">
  <a [routerLink]="['/add-books']">
    <img src="../../assets/icon/add-button.png" alt="Compose Icon" />
  </a>
</div>

<div class="page-Footer">
  <a [routerLink]="['/shelf']" class="footer-link"><img src="../../assets/icon/format.png" alt=""><br />Shelf</a>
  <a class="footer-link"><img src="../../assets/icon/tutorial.png" alt=""><br />Books</a>
</div>
